.mainPhoto{
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  background: #97a9b2;
  border-radius: 5px;
  overflow: hidden;
  &Image, img{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s;
  }
  img[data-active=true]{
    display: block;
    opacity: 1;
    z-index: 3;
  }
  img[data-active=prepared]{
    display: block;
  }
}